.hide {
    display: none;
}

/* grid helpers */

.grid {
    display: grid;
}

.grid.flow-column {
    grid-auto-flow: column;
}

.grid.align-center {
    align-items: center;
}

.grid.space-between {
    justify-content: space-between;
}

.grid.align-center {
    align-items: center;
}

/* flex helpers  */

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* rtl */

.rtl {
    direction: rtl;
}