@font-face {
    font-family: josefin;
    src: url("../../fonts/josefin/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: handjet;
    src: url("../../fonts/handjet/Handjet-Regular.ttf");
}