:root {
    --bgColor: #f1f1f1;

    --clrTxt: black;
    --clrTxt-1: rgb(137, 137, 137);

    --clrPrimary: #fafafa;
    --clrPrimary-1: #cccccc;
    --clrPrimary-2: #eeeeee;
    --clrPrimary-3: #dbdbdb;

}