.saved-memes-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;

    padding: 1em;
    border: 2px solid #cccccc;
    background-color: #fafafa;
    border-radius: 0.5em;
}

.saved-memes-container img {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    object-fit: cover;
    transition: opacity .2s;
}

.saved-memes-container img:hover {
    opacity: 0.9;
    background-color: #cccccc;
    cursor: pointer;
}

img:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
}