.word-cloud-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    color: var(--clrTxt-1);
    background-color: var(--clrPrimary-3);

    padding: 0.3em;

    border-width: 2px;
    border-color: var(--clrPrimary-2);
    border-style: solid;
    border-radius: 0.5em;

    margin-bottom: 1em;

    transition: background-color .3s;
}

.word-cloud-container * {
    margin: 0.2em;
    cursor: pointer;
}